<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ScmBQuerypriceMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ScmBQueryprice">
                    <id column="id" property="id"/>
                    <result column="code" property="code"/>
                    <result column="name" property="name"/>
                    <result column="matnr_id" property="matnrId"/>
                    <result column="matnr" property="matnr"/>
                    <result column="mseht" property="mseht"/>
                    <result column="txz01" property="txz01"/>
                    <result column="spec" property="spec"/>
                    <result column="amount" property="amount"/>
                    <result column="query_date" property="queryDate"/>
                    <result column="end_date" property="endDate"/>
                    <result column="query_state" property="queryState"/>
                    <result column="query_type" property="queryType"/>
                    <result column="dept_id" property="deptId"/>
                    <result column="comments" property="comments"/>
                    <result column="state" property="state"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        id, code, name, matnr_id, matnr, mseht, txz01, spec, amount, query_date, end_date, query_state, query_type, dept_id, comments, state, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateScmBQueryprice" parameterType="cc.mrbird.febs.scm.entity.ScmBQueryprice">
        update scm_b_queryprice
        <trim prefix="set" suffixOverrides=",">
<if test="code != null">code=#{code},</if>
<if test="name != null">name=#{name},</if>
<if test="matnrId != null">matnr_id=#{matnrId},</if>
<if test="matnr != null">matnr=#{matnr},</if>
<if test="mseht != null">mseht=#{mseht},</if>
<if test="txz01 != null">txz01=#{txz01},</if>
<if test="spec != null">spec=#{spec},</if>
<if test="amount != null">amount=#{amount},</if>
<if test="queryDate != null">query_date=#{queryDate},</if>
<if test="endDate != null">end_date=#{endDate},</if>
<if test="queryState != null">query_state=#{queryState},</if>
<if test="queryType != null">query_type=#{queryType},</if>
<if test="deptId != null">dept_id=#{deptId},</if>
<if test="comments != null">comments=#{comments},</if>
<if test="state != null">state=#{state},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
        where id=#{id}
    </update>
</mapper>