<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ScmDVendorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ScmDVendor">
        <id column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="ADDRESS" property="address"/>
        <result column="LAW_PERSON" property="lawPerson"/>
        <result column="LINK_PERSON" property="linkPerson"/>
        <result column="PHONE" property="phone"/>
        <result column="EMAIL" property="email"/>
        <result column="STATE" property="state"/>
        <result column="LB" property="lb"/>
        <result column="IS_DELETEMARK" property="isDeletemark"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFY_TIME" property="modifyTime"/>
        <result column="CREATE_USER_ID" property="createUserId"/>
        <result column="MODIFY_USER_ID" property="modifyUserId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CODE, NAME, ADDRESS, LAW_PERSON, LINK_PERSON, PHONE, EMAIL, STATE, LB, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID
    </sql>
    <update id="updateScmDVendor" parameterType="cc.mrbird.febs.scm.entity.ScmDVendor">
        update scm_d_vendor
        <trim prefix="set" suffixOverrides=",">
            <if test="code != null">CODE=#{code},</if>
            <if test="name != null">NAME=#{name},</if>
            <if test="address != null">ADDRESS=#{address},</if>
            <if test="lawPerson != null">LAW_PERSON=#{lawPerson},</if>
            <if test="linkPerson != null">LINK_PERSON=#{linkPerson},</if>
            <if test="phone != null">PHONE=#{phone},</if>
            <if test="email != null">EMAIL=#{email},</if>
            <if test="state != null">STATE=#{state},</if>
            <if test="jieKouState != null">JIEKOUSTATE=#{jieKouState},</if>
            <if test="fileState != null">FILESTATE=#{fileState},</if>
            <if test="lb != null">LB=#{lb},</if>
            <if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
            <if test="createTime != null">CREATE_TIME=#{createTime},</if>
            <if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
            <if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
            <if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
        </trim>
        where id=#{id}
    </update>
    <select id="getRank" parameterType="cc.mrbird.febs.scm.entity.ScmBPurcharseorder" resultType="cc.mrbird.febs.scm.entity.VendorRank">
        SELECT
  gg.rank_NUM,
	gg.CODE CODE,
	gg.NAME NAME,
	gg.pe pe
FROM
	(
SELECT
	@rownum:=@rownum+1 AS rank_NUM,
	hh.CODE,
	hh.NAME,
	hh.pe
FROM
	(
SELECT
	m.CODE,
	m.NAME,
	pur.menge,
	p.menge AS Done_Menge,
 to_percent ( IFNULL ( p.menge, 0 ), IFNULL ( pur.menge, 0 ) ) pe
FROM
	( SELECT sum( pu.menge ) menge, pu.lifnr FROM scm_b_purcharseorder pu
	 WHERE
	1 = 1
        <if test="order.eindt != null">
            AND pu.bedat <![CDATA[ >= ]]> #{order.eindt}
        </if>
        <if test="order.bedat != null">
            AND pu.bedat <![CDATA[ <= ]]> #{order.bedat}
        </if>
	GROUP BY pu.lifnr ) pur
	LEFT JOIN (
SELECT
	plan.gysaccount,
	Sum( plan.G_MENGE ) menge
FROM
	scm_b_supplyplan plan
	INNER JOIN scm_b_purcharseorder pu ON plan.BASE_ID = pu.ID AND pu.bsart=0
WHERE
	1 = 1
        <if test="order.eindt != null">
            AND pu.bedat <![CDATA[ >= ]]> #{order.eindt}
        </if>
        <if test="order.bedat != null">
            AND pu.bedat <![CDATA[ <= ]]> #{order.bedat}
        </if>

GROUP BY
	plan.gysaccount
	) p ON pur.lifnr = p.gysaccount
    RIGHT JOIN scm_d_vendor m ON pur.lifnr = m.CODE where m.STATE=1 AND m.LB=0
	) hh, (SELECT @rownum:=0) r
ORDER BY
	hh.pe DESC
	) gg
WHERE
	( 1 = 1 )
        <if test="order.lifnr!= null and order.lifnr !=''">
            And (gg.code = #{order.lifnr} or gg.name like concat('%',#{order.gysname},'%'))
        </if>
    </select>

    <select id="getMatnrPercentage" parameterType="cc.mrbird.febs.scm.entity.ScmBPurcharseorder" resultType="cc.mrbird.febs.scm.entity.MaterPercentage">
        SELECT
        m.CODE CODE,
        m.NAME NAME,
        pur.menge MENGE,
        p.menge AS DONE_Menge,
        to_percent ( IFNULL ( p.menge, 0 ), IFNULL ( pur.menge, 0 ) )  Percent,
        pur.matnr MATNR,
        CONCAT(mater.txz01, '/' , mater.spec , '/' , mater.produce_area) TXZ01,
        pur.WERKST
        FROM
        (
        SELECT
        sum( pur1.menge ) menge,
        pur1.lifnr,
        pur1.matnr,
        pur1.WERKST
        FROM
        scm_b_purcharseorder pur1
        WHERE 1=1
        <if test="order.eindt != null">
            AND pur1.bedat <![CDATA[ >= ]]> #{order.eindt}
        </if>
        <if test="order.bedat != null">
            AND pur1.bedat <![CDATA[ <= ]]> #{order.bedat}
        </if>
        <if test="order.lifnr!= null and order.lifnr !=''">
            And (pur1.lifnr = #{order.lifnr} or pur1.gysname like concat('%',#{order.lifnr},'%'))
        </if>
        <if test="order.txz01!= null and order.txz01 !=''">
            And (pur1.matnr = #{order.txz01} or pur1.txz01 like concat('%',#{order.txz01},'%'))
        </if>
        <if test="order.werks!= null and order.werks !='' and order.werks !='0'">
            And pur1.werks = #{order.werks}
        </if>

        GROUP BY
        pur1.lifnr,
        pur1.matnr,
        pur1.WERKST
        ) pur
        LEFT JOIN (
        SELECT
        plan.gysaccount,
        Sum( plan.G_MENGE ) menge,
        pur1.matnr
        FROM
        scm_b_supplyplan plan
        INNER JOIN scm_b_purcharseorder pur1 ON plan.BASE_ID=pur1.ID
        WHERE
        1=1
        <if test="order.eindt != null">
            AND pur1.bedat <![CDATA[ >= ]]> #{order.eindt}
        </if>
        <if test="order.bedat != null">
            AND pur1.bedat <![CDATA[ <= ]]> #{order.bedat}
        </if>
        <if test="order.lifnr!= null and order.lifnr !=''">
            And (pur1.lifnr = #{order.lifnr} or pur1.gysname like concat('%',#{order.lifnr},'%'))
        </if>
        <if test="order.txz01!= null and order.txz01 !=''">
            And (pur1.matnr = #{order.txz01} or pur1.txz01 like concat('%',#{order.txz01},'%'))
        </if>
        <if test="order.werks!= null and order.werks !='' and order.werks !='0'">
            And pur1.werks = #{order.werks}
        </if>
        GROUP BY
        plan.gysaccount,
        pur1.matnr
        ) p ON pur.lifnr = p.gysaccount
        AND pur.matnr = p.matnr
        LEFT JOIN scm_d_vendor m ON pur.lifnr = m.
        CODE LEFT JOIN scm_d_mater mater ON trim( mater.matnr ) = trim( pur.matnr )
        AND mater.gysaccount = pur.lifnr
        WHERE
        m.LB=0
    </select>
</mapper>