<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.scm.dao.ViewSupplyplanNewMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="cc.mrbird.febs.scm.entity.ViewSupplyplanNew">
                    <result column="ebeln" property="ebeln"/>
                    <result column="ebelp" property="ebelp"/>
                    <result column="coder" property="coder"/>
                    <result column="send_deaprt_contact" property="sendDeaprtContact"/>
                    <result column="matnr" property="matnr"/>
                    <result column="txz01" property="txz01"/>
                    <result column="werkst" property="werkst"/>
                    <result column="werks" property="werks"/>
                    <result column="lgort" property="lgort"/>
                    <result column="lgortName" property="lgortName"/>
                    <result column="menge" property="menge"/>
                    <result column="meins" property="meins"/>
                    <result column="mseht" property="mseht"/>
                    <result column="netpr" property="netpr"/>
                    <result column="eindt" property="eindt"/>
                    <result column="bedat" property="bedat"/>
                    <result column="bsart" property="bsart"/>
                    <result column="G_MENGE" property="gMenge"/>
                    <result column="CHARGE" property="charge"/>
                    <result column="VFDAT" property="vfdat"/>
                    <result column="HSDAT" property="hsdat"/>
                    <result column="FPHM" property="fphm"/>
                    <result column="FPJR" property="fpjr"/>
                    <result column="FPRQ" property="fprq"/>
                    <result column="BASE_ID" property="baseId"/>
                    <result column="ID" property="id"/>
                    <result column="STATUS" property="status"/>
                    <result column="DONEMENGE" property="donemenge"/>
                    <result column="FPBM" property="fpbm"/>
                    <result column="GYSACCOUNT" property="gysaccount"/>
                    <result column="GYSNAME" property="gysname"/>
                    <result column="PKG_AMOUNT" property="pkgAmount"/>
                    <result column="PKG_NUMBER" property="pkgNumber"/>
                    <result column="UNINFORMED_STATE" property="uninformedState"/>
                    <result column="INFORMED_STATE" property="informedState"/>
                    <result column="BSART_D" property="bsartD"/>
                    <result column="LINK_PERSON" property="linkPerson"/>
                    <result column="SEND_DEPART" property="sendDepart"/>
                    <result column="LINK_TELEPHONE" property="linkTelephone"/>
                    <result column="SEND_ORDER_CODE" property="sendOrderCode"/>
                    <result column="CODE" property="code"/>
                    <result column="MATER_CODE" property="materCode"/>
                    <result column="OUT_CAUSE" property="outCause"/>
                    <result column="OUT_DATE" property="outDate"/>
                    <result column="IS_DELETEMARK" property="isDeletemark"/>
                    <result column="CREATE_TIME" property="createTime"/>
                    <result column="MODIFY_TIME" property="modifyTime"/>
                    <result column="CREATE_USER_ID" property="createUserId"/>
                    <result column="MODIFY_USER_ID" property="modifyUserId"/>
                    <result column="NAME" property="name"/>
                    <result column="chang_date" property="changDate"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
        ebeln, ebelp, coder, send_deaprt_contact, matnr, txz01, werkst, werks, lgort, lgortName, menge, meins, mseht, netpr, eindt, bedat, bsart, G_MENGE, CHARGE, VFDAT, HSDAT, FPHM, FPJR, FPRQ, BASE_ID, ID, STATUS, DONEMENGE, FPBM, GYSACCOUNT, GYSNAME, PKG_AMOUNT, PKG_NUMBER, UNINFORMED_STATE, INFORMED_STATE, BSART_D, LINK_PERSON, SEND_DEPART, LINK_TELEPHONE, SEND_ORDER_CODE, CODE, MATER_CODE, OUT_CAUSE, OUT_DATE, IS_DELETEMARK, CREATE_TIME, MODIFY_TIME, CREATE_USER_ID, MODIFY_USER_ID, NAME, chang_date
    </sql>
    <update id="updateViewSupplyplanNew" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplanNew">
        update view_supplyplan_new
        <trim prefix="set" suffixOverrides=",">
<if test="ebeln != null">ebeln=#{ebeln},</if>
<if test="ebelp != null">ebelp=#{ebelp},</if>
<if test="coder != null">coder=#{coder},</if>
<if test="sendDeaprtContact != null">send_deaprt_contact=#{sendDeaprtContact},</if>
<if test="matnr != null">matnr=#{matnr},</if>
<if test="txz01 != null">txz01=#{txz01},</if>
<if test="werkst != null">werkst=#{werkst},</if>
<if test="werks != null">werks=#{werks},</if>
<if test="lgort != null">lgort=#{lgort},</if>
<if test="lgortName != null">lgortName=#{lgortName},</if>
<if test="menge != null">menge=#{menge},</if>
<if test="meins != null">meins=#{meins},</if>
<if test="mseht != null">mseht=#{mseht},</if>
<if test="netpr != null">netpr=#{netpr},</if>
<if test="eindt != null">eindt=#{eindt},</if>
<if test="bedat != null">bedat=#{bedat},</if>
<if test="bsart != null">bsart=#{bsart},</if>
<if test="gMenge != null">G_MENGE=#{gMenge},</if>
<if test="charge != null">CHARGE=#{charge},</if>
<if test="vfdat != null">VFDAT=#{vfdat},</if>
<if test="hsdat != null">HSDAT=#{hsdat},</if>
<if test="fphm != null">FPHM=#{fphm},</if>
<if test="fpjr != null">FPJR=#{fpjr},</if>
<if test="fprq != null">FPRQ=#{fprq},</if>
<if test="baseId != null">BASE_ID=#{baseId},</if>
<if test="id != null">ID=#{id},</if>
<if test="status != null">STATUS=#{status},</if>
<if test="donemenge != null">DONEMENGE=#{donemenge},</if>
<if test="fpbm != null">FPBM=#{fpbm},</if>
<if test="gysaccount != null">GYSACCOUNT=#{gysaccount},</if>
<if test="gysname != null">GYSNAME=#{gysname},</if>
<if test="pkgAmount != null">PKG_AMOUNT=#{pkgAmount},</if>
<if test="pkgNumber != null">PKG_NUMBER=#{pkgNumber},</if>
<if test="uninformedState != null">UNINFORMED_STATE=#{uninformedState},</if>
<if test="informedState != null">INFORMED_STATE=#{informedState},</if>
<if test="bsartD != null">BSART_D=#{bsartD},</if>
<if test="linkPerson != null">LINK_PERSON=#{linkPerson},</if>
<if test="sendDepart != null">SEND_DEPART=#{sendDepart},</if>
<if test="linkTelephone != null">LINK_TELEPHONE=#{linkTelephone},</if>
<if test="sendOrderCode != null">SEND_ORDER_CODE=#{sendOrderCode},</if>
<if test="code != null">CODE=#{code},</if>
<if test="materCode != null">MATER_CODE=#{materCode},</if>
<if test="outCause != null">OUT_CAUSE=#{outCause},</if>
<if test="outDate != null">OUT_DATE=#{outDate},</if>
<if test="isDeletemark != null">IS_DELETEMARK=#{isDeletemark},</if>
<if test="createTime != null">CREATE_TIME=#{createTime},</if>
<if test="modifyTime != null">MODIFY_TIME=#{modifyTime},</if>
<if test="createUserId != null">CREATE_USER_ID=#{createUserId},</if>
<if test="modifyUserId != null">MODIFY_USER_ID=#{modifyUserId},</if>
<if test="name != null">NAME=#{name},</if>
<if test="changDate != null">chang_date=#{changDate},</if>
        </trim>

    </update>
    <select id="findViewSupplyplanNewCount"  parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplanNew">
      SELECT
	count(*)
FROM
	( `scm_b_supplyplan` JOIN `scm_b_purcharseorder` )
WHERE
	( `scm_b_supplyplan`.`BASE_ID` = `scm_b_purcharseorder`.`ID` )
</select>

    <select id="findViewSupplyplanNew" resultType="cc.mrbird.febs.scm.entity.ViewSupplyplanNew" parameterType="cc.mrbird.febs.scm.entity.ViewSupplyplanNew">
      SELECT
	`scm_b_purcharseorder`.`ebeln` AS `ebeln`,
	`scm_b_purcharseorder`.`ebelp` AS `ebelp`,
	`scm_b_purcharseorder`.`CODE` AS `coder`,
	`scm_b_purcharseorder`.`send_deaprt_contact` AS `send_deaprt_contact`,
	`scm_b_purcharseorder`.`matnr` AS `matnr`,
	concat( `scm_b_purcharseorder`.`txz01`, '/', ifnull( `scm_b_purcharseorder`.`send_deaprt_name`, '' ) ) AS `txz01`,
	`scm_b_purcharseorder`.`werkst` AS `werkst`,
	`scm_b_purcharseorder`.`werks` AS `werks`,
	`scm_b_purcharseorder`.`lgort` AS `lgort`,
	`scm_b_purcharseorder`.`lgortName` AS `lgortName`,
	`scm_b_purcharseorder`.`menge` AS `menge`,
	`scm_b_purcharseorder`.`meins` AS `meins`,
	`scm_b_purcharseorder`.`mseht` AS `mseht`,
	`scm_b_purcharseorder`.`netpr` AS `netpr`,
	`scm_b_purcharseorder`.`eindt` AS `eindt`,
	`scm_b_purcharseorder`.`bedat` AS `bedat`,
	`scm_b_purcharseorder`.`bsart` AS `bsart`,
	`scm_b_supplyplan`.`G_MENGE` AS `G_MENGE`,
	`scm_b_supplyplan`.`CHARGE` AS `CHARGE`,
	`scm_b_supplyplan`.`VFDAT` AS `VFDAT`,
	`scm_b_supplyplan`.`HSDAT` AS `HSDAT`,
	`scm_b_supplyplan`.`FPHM` AS `FPHM`,
	`scm_b_supplyplan`.`FPJR` AS `FPJR`,
	`scm_b_supplyplan`.`FPRQ` AS `FPRQ`,
	`scm_b_supplyplan`.`BASE_ID` AS `BASE_ID`,
	`scm_b_supplyplan`.`ID` AS `ID`,
	`scm_b_supplyplan`.`STATUS` AS `STATUS`,
	`scm_b_supplyplan`.`DoneMenge` AS `DONEMENGE`,
	`scm_b_supplyplan`.`FPBM` AS `FPBM`,
	`scm_b_supplyplan`.`GYSACCOUNT` AS `GYSACCOUNT`,
	`scm_b_supplyplan`.`GYSNAME` AS `GYSNAME`,
	`scm_b_supplyplan`.`PKG_AMOUNT` AS `PKG_AMOUNT`,
	`scm_b_supplyplan`.`PKG_NUMBER` AS `PKG_NUMBER`,
	`scm_b_supplyplan`.`UNINFORMED_STATE` AS `UNINFORMED_STATE`,
	`scm_b_supplyplan`.`INFORMED_STATE` AS `INFORMED_STATE`,
	`scm_b_supplyplan`.`BSART_D` AS `BSART_D`,
	`scm_b_supplyplan`.`LINK_PERSON` AS `LINK_PERSON`,
	`scm_b_supplyplan`.`SEND_DEPART` AS `SEND_DEPART`,
	`scm_b_supplyplan`.`LINK_TELEPHONE` AS `LINK_TELEPHONE`,
	`scm_b_supplyplan`.`SEND_ORDER_CODE` AS `SEND_ORDER_CODE`,
	`scm_b_supplyplan`.`CODE` AS `CODE`,
	`scm_b_supplyplan`.`MATER_CODE` AS `MATER_CODE`,
	`scm_b_supplyplan`.`OUT_CAUSE` AS `OUT_CAUSE`,
	`scm_b_supplyplan`.`OUT_DATE` AS `OUT_DATE`,
	`scm_b_supplyplan`.`IS_DELETEMARK` AS `IS_DELETEMARK`,
	`scm_b_supplyplan`.`CREATE_TIME` AS `CREATE_TIME`,
	`scm_b_supplyplan`.`MODIFY_TIME` AS `MODIFY_TIME`,
	`scm_b_supplyplan`.`CREATE_USER_ID` AS `CREATE_USER_ID`,
	`scm_b_supplyplan`.`MODIFY_USER_ID` AS `MODIFY_USER_ID`,
	`scm_b_purcharseorder`.`NAME` AS `NAME`,
	NULL as 'change_date'
FROM
	( `scm_b_supplyplan` JOIN `scm_b_purcharseorder` )
WHERE
	( `scm_b_supplyplan`.`BASE_ID` = `scm_b_purcharseorder`.`ID` )
</select>

</mapper>